PickupSprite {
    justify-content: center;
    align-items: center;

    .icon {
        background-image: url( textures/pickup.png );
        background-size: cover;
        width: 300px;
        height: 300px;
    }
}
