@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Facepunch.BombRoyale;

@namespace Facepunch.BombRoyale.UI
@attribute [StyleSheet( "/ui/PlayerCard.scss" )]
@inherits Panel

<div class="container p@(PlayerIndex) @((Player.IsValid() && Player.LifeState == LifeState.Dead) ? "dead" : "")">
    <label class="name">@(Player.IsValid() ? Player.Client.Name : "Empty")</label>
    <label class="index">P@(PlayerIndex)</label>

    <div class="avatar">
        <div class="inner"></div>
        <div class="head"></div>

        @if ( Player.IsValid() && Player.LifeState == LifeState.Dead )
        {
            <div class="dead"></div>
        }
    </div>

    <div class="lives">
        @if ( Player.IsValid() )
        {
            for ( var i = 0; i < Player.LivesLeft; i++ )
            {
                @:<div class="life"><div>
            }
        }
    </div>
</div>

@code
{
    public BombRoyalePlayer Player => (Entity.FindByIndex( PlayerIndex ) as IClient)?.Pawn as BombRoyalePlayer;
    public int PlayerIndex { get; set; }

    protected override int BuildHash()
    {
        if ( !Player.IsValid() ) return 0;
        return HashCode.Combine( Player, Player.LifeState );
    }
}
