$p1: #F6D953;
$p2: #DB3D76;
$p3: #3DBFDB;
$p4: #FF881B;

PlayerCard {
    > .container {
        background-color: black;
        transition: all 0.2s ease-in;
        border-radius: 8px;
        margin-top: 48px;
        align-items: center;
        width: 350px;
        height: 48px;

        &.empty {
            opacity: 0.2;
        }

        &.dead {
            > .avatar {
                > .inner {
                    transition: all 0.2s ease-in;
                    filter: brightness( 0.2 );
                    filter: saturate( 0.5 );
                }

                > .head {
                    transition: all 0.2s ease-in;
                    filter: brightness( 0.2 );
                    filter: saturate( 0.1 );
                }
            }

            > .pickups .pickup .label {
                transition: all 0.2s ease-in;
                color: gray;
            }

            > .pickups .pickup .icon {
                transition: all 0.2s ease-in;
                filter: brightness( 0.2 );
                filter: saturate( 0.1 );
            }

            > .pickups .pickup .superbomb {
                transition: all 0.2s ease-in;
                display: none;
            }
        }

        > .avatar {
            position: absolute;
            background-image: url( textures/ui/diamond-outer.png );
            background-size: cover;
            justify-content: center;
            align-items: center;
            width: 155px;
            height: 162px;

            > .inner {
                background-size: cover;
                width: 112px;
                height: 120px;
            }

            > .head {
                position: absolute;
                background-image: url( textures/ui/baldie.png );
                background-size: cover;
                width: 96px;
                height: 168px;
                bottom: 38px;
            }

            > .dead {
                position: absolute;
                background-image: url( textures/ui/dead.png );
                background-size: cover;
                width: 32px;
                height: 32px;
            }
        }

        > .pickups {
            position: absolute;
            align-items: center;
            top: 72px;

            .pickup {
                background-color: black;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                width: 88px;
                height: 32px;

                .icon {
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 48px;
                    height: 48px;
                    left: 8px;
                }

                .label {
                    font-family: LilitaOne;
                    font-size: 24px;
                    color: white;
                    left: 8px;
                }
            }

            .superbomb {
                position: absolute;
                background-image: url( textures/ui/superbomb.png );
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.5s bounce-out;
                width: 48px;
                height: 48px;

                &:intro {
                    transform: scale( 0.5 0.5 );
                }
            }
        }

        > .lives {
            position: absolute;

            .life {
                transition: all 0.5s bounce-out;
                background-size: cover;
                width: 40px;
                height: 40px;

                &:intro {
                    transform: scale( 0.5 0.5 );
                }
            }
        }

        > .name {
            position: absolute;
            font-family: LilitaOne;
            font-size: 30px;
            color: white;
        }

        > .index {
            position: absolute;
            font-family: LilitaOne;
            font-size: 30px;
            color: white;
        }

        &.p1 {
            .index {
                color: $p1;
            }

            .avatar .inner {
                background-image: url( textures/ui/p1/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p1/life.png );
            }

            .pickups .bombs {
                .icon {
                    background-image: url( textures/ui/p1/bomb.png );
                }

                .label {
                    color: $p1;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .range {
                .icon {
                    background-image: url( textures/ui/p1/range.png );
                }

                .label {
                    color: $p1;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .speed {
                .icon {
                    background-image: url( textures/ui/p1/speed.png );
                }

                .label {
                    color: $p1;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }
        }

        &.p2 {
            .index {
                color: $p2;
            }

            .avatar .inner {
                background-image: url( textures/ui/p2/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p2/life.png );
            }

            .pickups .bombs {
                .icon {
                    background-image: url( textures/ui/p2/bomb.png );
                }

                .label {
                    color: $p2;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .range {
                .icon {
                    background-image: url( textures/ui/p2/range.png );
                }

                .label {
                    color: $p2;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .speed {
                .icon {
                    background-image: url( textures/ui/p2/speed.png );
                }

                .label {
                    color: $p2;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }
        }

        &.p3 {
            .index {
                color: $p3;
            }

            .avatar .inner {
                background-image: url( textures/ui/p3/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p3/life.png );
            }

            .pickups .bombs {
                .icon {
                    background-image: url( textures/ui/p3/bomb.png );
                }

                .label {
                    color: $p3;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .range {
                .icon {
                    background-image: url( textures/ui/p3/range.png );
                }

                .label {
                    color: $p3;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .speed {
                .icon {
                    background-image: url( textures/ui/p3/speed.png );
                }

                .label {
                    color: $p3;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }
        }

        &.p4 {
            .index {
                color: $p4;
            }

            .avatar .inner {
                background-image: url( textures/ui/p4/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p4/life.png );
            }

            .pickups .bombs {
                .icon {
                    background-image: url( textures/ui/p4/bomb.png );
                }

                .label {
                    color: $p4;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .range {
                .icon {
                    background-image: url( textures/ui/p4/range.png );
                }

                .label {
                    color: $p4;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }

            .pickups .speed {
                .icon {
                    background-image: url( textures/ui/p4/speed.png );
                }

                .label {
                    color: $p4;
                }

                &.diseased {
                    .label {
                        color: palevioletred;
                    }
                }
            }
        }
    }

    &.left-side {
        .container .pickups .superbomb {
            right: -48px;
        }

        .container .pickups .pickup {
            margin-right: 16px;
        }

        .container .avatar {
            left: 10%;
            bottom: -35%;
        }

        .container .lives {
            left: 55%;
            top: -60px;
        }

        .container .name {
            right: 16px;
        }

        .container .index {
            left: 16px;
        }
    }

    &.right-side {
        .container .pickups .superbomb {
            left: -40px;
        }

        .container .pickups .pickup {
            margin-left: 16px;
        }

        .container .pickups {
            right: 0px;
        }

        .container .avatar {
            right: 10%;
            bottom: -35%;
        }

        .container .lives {
            right: 55%;
            top: -60px;
        }

        .container .name {
            left: 16px;
        }

        .container .index {
            right: 16px;
        }
    }
}
