PlayerCards {
    position: absolute;
    height: 100%;
    width: 100%;

    > .left-side {
        position: absolute;
        flex-direction: column;
        margin-bottom: 64px;
        bottom: 64px;
        left: 64px;

        PlayerCard {
            margin-top: 150px;
        }
    }

    > .right-side {
        position: absolute;
        flex-direction: column;
        margin-bottom: 64px;
        bottom: 64px;
        right: 64px;

        PlayerCard {
            margin-top: 150px;
        }
    }
}
