@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Facepunch.BombRoyale;

@namespace Facepunch.BombRoyale.UI
@attribute [StyleSheet( "PlayerCards.razor.scss" )]
@inherits Panel

<div class="left-side">
    <PlayerCard class="left-side" PlayerIndex=@(1)></PlayerCard>
    <PlayerCard class="left-side" PlayerIndex=@(2)></PlayerCard>
</div>

<div class="right-side">
    <PlayerCard class="right-side" PlayerIndex=@(3)></PlayerCard>
    <PlayerCard class="right-side" PlayerIndex=@(4)></PlayerCard>
</div>
