$p1: #F6D953;
$p2: #DB3D76;
$p3: #3DBFDB;
$p4: #FF881B;

PlayerCard {
    > .container {
        background-color: black;
        border-radius: 8px;
        margin-top: 48px;
        align-items: center;
        width: 350px;
        height: 48px;

        &.dead {
            > .avatar {
                > .inner {
                    filter: saturate( 0.5 );
                }

                > .head {
                    filter: saturate( 0.1 );
                }
            }
        }

        > .avatar {
            position: absolute;
            background-image: url( textures/ui/diamond-outer.png );
            background-size: cover;
            justify-content: center;
            align-items: center;
            width: 155px;
            height: 162px;

            > .inner {
                background-size: cover;
                width: 112px;
                height: 120px;
            }

            > .head {
                position: absolute;
                background-image: url( textures/ui/baldie.png );
                background-size: cover;
                width: 96px;
                height: 168px;
                bottom: 38px;
            }

            > .dead {
                position: absolute;
                background-image: url( textures/ui/dead.png );
                background-size: cover;
                width: 32px;
                height: 32px;
            }
        }

        > .lives {
            position: absolute;

            .life {
                background-size: cover;
                width: 40px;
                height: 40px;
            }
        }

        > .name {
            position: absolute;
            font-family: LilitaOne;
            font-size: 30px;
            color: white;
        }

        > .index {
            position: absolute;
            font-family: LilitaOne;
            font-size: 30px;
            color: white;
        }

        &.p1 {
            .index {
                color: $p1;
            }

            .avatar .inner {
                background-image: url( textures/ui/p1/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p1/life.png );
            }
        }

        &.p2 {
            .index {
                color: $p2;
            }

            .avatar .inner {
                background-image: url( textures/ui/p2/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p2/life.png );
            }
        }

        &.p3 {
            .index {
                color: $p3;
            }

            .avatar .inner {
                background-image: url( textures/ui/p3/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p3/life.png );
            }
        }

        &.p4 {
            .index {
                color: $p4;
            }

            .avatar .inner {
                background-image: url( textures/ui/p4/inner-diamond.png );
            }

            .lives .life {
                background-image: url( textures/ui/p4/life.png );
            }
        }
    }

    &.left-side {
        .container .avatar {
            left: 10%;
            bottom: -35%;
        }

        .container .lives {
            left: 55%;
            top: -60px;
        }

        .container .name {
            right: 16px;
        }

        .container .index {
            left: 16px;
        }
    }

    &.right-side {
        .container .avatar {
            right: 10%;
            bottom: -35%;
        }

        .container .lives {
            right: 55%;
            top: -60px;
        }

        .container .name {
            left: 16px;
        }

        .container .index {
            right: 16px;
        }
    }
}
