@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Facepunch.BombRoyale;

@namespace Facepunch.BombRoyale.UI
@attribute [StyleSheet( "WinnerDisplay.razor.scss" )]
@inherits Panel

@{
	var game = BombRoyale.Instance;
	if ( !game.IsValid() || game.CurrentRound < Round.GameOver )
		return;
}

<root>
	@{
		var winnerName = game.WinnerName;
		var winnerIndex = game.WinnerIndex;
	}

    <div class="banner p@(winnerIndex)"></div>

    <div class="container p@(winnerIndex)">
        <div class="logo"></div>

        <div class="avatar">
            <div class="inner"></div>
            <div class="head"></div>
        </div>

        <div class="name">
            <div class="label">@winnerName</div>
        </div>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
	    var game = BombRoyale.Instance;
	    return !game.IsValid() ? 0 : HashCode.Combine( game.WinnerIndex, game.WinnerName, game.CurrentRound );
    }
}
