@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Facepunch.BombRoyale;

@namespace Facepunch.BombRoyale.UI
@inherits Panel

<root>
	@{
		var winnerName = "Player 1";
		var winnerIndex = 1;
	}

    <div class="banner p@winnerIndex"></div>

    <div class="container p@winnerIndex">
        <div class="logo"></div>

        <div class="avatar">
            <div class="inner"></div>
            <div class="head"></div>
        </div>

        <div class="name">
            <div class="label">@winnerName</div>
        </div>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        return 0;
    }
}