{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "player": "Collide",
    "passable": "Collide",
    "bomb": "Collide",
    "pickup": "Trigger",
    "corpse": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "passable",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "bomb",
      "r": "Ignore"
    }
  ],
  "__guid": "cde845a4-116b-4b61-bf29-fb7c3cdadf6b",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}